set_io clk J3

#set_io BUT1 K11
#set_io BUT2 P13

set_io led1 M12
set_io led2 R16

set_io seg7_a E2
set_io seg7_b G3
set_io seg7_c G4
set_io seg7_d D1
set_io seg7_e G5
set_io seg7_f H5
set_io seg7_g E3

set_io seg72_a H4
set_io seg72_b G2
set_io seg72_c F3
set_io seg72_d H6
set_io seg72_e F2
set_io seg72_f J4
set_io seg72_g F1
set_io seg72_dp H3
set_io seg72_gnd0 J5
set_io seg72_gnd1 H2

