set_io clk J3

#set_io BUT1 K11
#set_io BUT2 P13

set_io led1 M12
set_io led2 R16

set_io seg7_a E2
set_io seg7_b G3
set_io seg7_c G4
set_io seg7_d D1
set_io seg7_e G5
set_io seg7_f H5
set_io seg7_g E3

set_io seg72_a H4
set_io seg72_b G2
set_io seg72_c F3
set_io seg72_d H6
set_io seg72_e F2
set_io seg72_f J4
set_io seg72_g F1
set_io seg72_dp H3
set_io seg72_gnd0 J5
set_io seg72_gnd1 H2

set_io seg74_a G3
set_io seg74_b H5
set_io seg74_c D1
set_io seg74_d G4
set_io seg74_e E3
set_io seg74_f E2
set_io seg74_g G5
set_io seg74_gnd0 C1
set_io seg74_gnd1 C2
set_io seg74_gnd2 F4
set_io seg74_gnd3 D2


# SRAM

set_io sram_a[0] N6
set_io sram_a[1] T1
set_io sram_a[2] P4
set_io sram_a[3] R2
set_io sram_a[4] N5
set_io sram_a[5] T2
set_io sram_a[6] P5
set_io sram_a[7] R3
set_io sram_a[8] R5
set_io sram_a[9] T3
set_io sram_a[10] R4
set_io sram_a[11] M7
set_io sram_a[12] N7
set_io sram_a[13] P6
set_io sram_a[14] M8
set_io sram_a[15] T5
set_io sram_a[16] R6
set_io sram_a[17] P8

set_io sram_d[0] T8
set_io sram_d[1] P7
set_io sram_d[2] N9
set_io sram_d[3] T9
set_io sram_d[4] M9
set_io sram_d[5] R9
set_io sram_d[6] K9
set_io sram_d[7] P9
set_io sram_d[8] R10
set_io sram_d[9] L10
set_io sram_d[10] P10
set_io sram_d[11] N10
set_io sram_d[12] T10
set_io sram_d[13] T11
set_io sram_d[14] T15
set_io sram_d[15] T14

set_io sram_cs T6
set_io sram_oe L9
set_io sram_we T7


# KEYPAD (btn16 + btn4 + led8)

set_io keypad_led_d1 G16
set_io keypad_led_d2 H14
set_io keypad_led_d3 H16
set_io keypad_led_d4 H11
set_io keypad_led_d5 H13
set_io keypad_led_d6 J16
set_io keypad_led_d7 J13
set_io keypad_led_d8 J12

# KEYPAD (btn6)
set_io -pullup yes keypad6_1 J14
set_io -pullup yes keypad6_2 K16
set_io -pullup yes keypad6_3 K15
set_io -pullup yes keypad6_4 J15
set_io -pullup yes keypad6_5 K14
set_io -pullup yes keypad6_6 K13

